/* Base styles */
.history-container {
    color: whitesmoke;
    transition: height 0.6s ease;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding-top: 20px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.4);
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.history-details {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    flex-grow: 1;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(10px);
}

.history-details:hover {
    background-color: rgba(0, 0, 0, 1);
}

.btn-remove {
    font-size: 1rem;
    color: whitesmoke;
    padding-right: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 3;
}

/* Responsive styles for phone and tablet */
@media (max-width: 768px) {
    .history-container {
        height: 33vh; 
    }

    .current-weather {
        height: 67vh; 
        overflow-y: auto;
    }

    .history-details p {
        font-size: 0.8rem;
    }

    .btn-remove {
        font-size: 0.8rem;
    }
}
